<h2 ng-if="!myInfoCtrl.initialized" class="text-center">Not signed up yet. <a ui-sref="public.signupForm">Sign up now!</a></h2>
<div ng-if="myInfoCtrl.initialized" class="container">
  <h2>Registered Info:</h2>
  <ul class="list-group" id="my-info">
    <li class="list-group-item">{{myInfoCtrl.firstName}}</li>
    <li class="list-group-item">{{myInfoCtrl.lastName}}</li>
    <li class="list-group-item">{{myInfoCtrl.email}}</li>
    <li class="list-group-item">{{myInfoCtrl.phone}}</li>
  </ul>
  <h2>Favorite Dish:</h2>
  <menu-item menu-item="myInfoCtrl.favorite"></menu-item>
</div>